.profile-editor {
  width: 70%;
  height: 100vh;
  /* padding: 20px; */
  border: 1px solid #424242;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #999999;
  border-radius: 20px;
 
  font-family: 'Arial', sans-serif;
}
.prteProfile1{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 60% 15%;
  height: 80%;
}
.profile-photo {
  border-radius: 50%;
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: 150px; /* Ajusta el tamaño según sea necesario */
  object-fit: cover; /* Para mantener la relación de aspecto */

}
.botonProfile{
  
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.botonEnviar{
  width: 25%;
  background-color: black;
  color: white;
  border: solid 2px black;

}
.botonEnviar:hover{
  background-color: #443939;
}
.containerFotoProfile{
  grid-column: 2/3;
  grid-row: 2 / -3;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  border: solid 2px black;
  width: 75%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  margin-left: 40px;

}
.infoProfile{
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  border: solid 2px black;
  width: 70%;
  margin-left: 10%;
}
.tituloEditar{
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 25px;
}
.input-cambiar{
  display: none;
}
.option-cambiar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


}

.option-cambiar label {
  background-color: #d41c1c; /* Cambiar el color de fondo según tu preferencia */
  color: black; /* Cambiar el color del texto según tu preferencia */
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  /* display: block; */
  margin-top: 30px;
  border: solid 2px black;
  box-shadow: 0px 3px 4px black;
}
.option-cambiar label:hover{
  background-color: #ff0202;
}


.form-group{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  background-color: #999999;
  border-radius: 8px;
  padding: 10px;
  border: solid 2px black;
  width: 90%;
}





input[type="file"] {
  padding: 5px;
}




.section-perfil{
background-color: black;  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 190vh;
  
}

.input-user{
 width: 80%;
 background-color: #999999;
 border:none;
 color: black;
}
.labelUser{
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.input-email{
  width: 90%;
  background-color: #999999;
  border: none;
  color: black;
}
.labelCorreo{
  width: 30%;
  color: black;
}
.input-phoneNumber{
  width: 130%;
  background-color: #999999;
  border: none;
  color: black;
}
.labelPhone{
  width: 40%;
  color: black;
}


/* Perfil.css */

/* Perfil.css */

.grua-card {
  background-color: #1F2124;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: white;
  margin: 20px;
  width: 250px; /* Ancho de cada tarjeta */
  transition: transform 0.3s ease;
}

.grua-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 4px #1F2124;
}

.grua-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tituloGruas {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.grua-info {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Cambios para mostrar las tarjetas horizontalmente */
.gruas-list {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan automáticamente */
  justify-content: space-around; /* Distribuye las tarjetas de manera uniforme */
  margin-top: 20px;
  width: 100%; /* Ajusta el margen según sea necesario */
  grid-row: 2/3;
  align-items: center;
  margin-left: -20px;
}
.user-cranes{
  display: flex;
  display: grid;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #999999;
  border-radius: 20px;
}

.tituloGruasP{
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 25px;
  margin-bottom: -30px;
}
.navigation-arrows{
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 0 0 20px;
  margin-bottom: 20px;
}
.butonAnterior{
  border-radius: 20px 0 0 20px;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 7px black;

}
.butonAnterior:hover{
  background-color: #1F2124;
}

.butonSiguiente{
  border-radius: 0px 20px 20px 0px;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 7px black;
  
}
.butonSiguiente:hover{
  background-color: #1F2124;
}

.butonEliminar{
  background-color: #d41c1c;
  width: 40%;
}
.butonEditar{
  background-color: rgb(70, 235, 180);
  width: 40%;
}
.botonesperfil{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.butonEditarprofile{
  background-color: #d41c1c;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  border: solid 2px;
  color: black;
  border-radius: 10px;
  border: solid 2px black;
  box-shadow: 0px 3px 4px black;
}
.butonEditarprofile:hover{
  background-color: #ff0202;
}